<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.7</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fb556363301225406</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb556363301225406</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ci.MyBabyMy</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.ci.MyBabyMy</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>vk5795289</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vk5795289</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>37</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>0a4008ab5d5de5458d7b7df84ef1175fa35264b8</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>556363301225406</string>
	<key>FacebookDisplayName</key>
	<string>MyBabyMy</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>InstagramAppClientId</key>
	<string>f936fb33347d40d58b5c008c7a4f20d0</string>
	<key>InstagramAppRedirectURL</key>
	<string>http://mybabymy.com/authorizeInstagram</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>vk</string>
		<string>vkauthorize</string>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Allow MyBabyMy access media library</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow MyBabyMy access camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow MyBabyMy access contacts</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow MyBabyMy access your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow MyBabyMy access microphone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow MyBabyMy access Photos</string>
	<key>UIAppFonts</key>
	<array>
		<string>clutchsans-regular.otf</string>
		<string>foo_regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchView</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>still-camera</string>
		<string>video-camera</string>
		<string>microphone</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIWhitePointAdaptivityStyle</key>
	<string>UIWhitePointAdaptivityStyleVideo</string>
</dict>
</plist>
